.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

a[mat-button],
button[mat-button] {
  display: flex;
  align-items: center;
  gap: 6px;         
  margin: 0 6px;     
  text-decoration: none;
}

a[mat-button] i,
button[mat-button] i {
  font-size: 16px;
}

@media only screen and (max-width: 630px) {
  a[mat-button] span,
  button[mat-button] span {
    display: none;
  }

  .about-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
