<div *ngIf="error">
  <h3>Oops, an error occured!</h3>
  <p style="color: red;">{{error}}</p>
</div>
<div *ngIf="movies" class="container">
  <mat-card class="movie-card" appearance="outlined" *ngFor="let movie of movies">
    <img mat-card-image [src]="movie.poster" [alt]="movie.title">
    <mat-card-content>
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.originalTitle }}</p>
      <p><b>Žanr:</b>
        <ng-container *ngFor="let g of movie.movieGenres; let last = last">
          {{ g.genre.name }}<span *ngIf="!last">, </span>
        </ng-container>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openDetails(movie.movieId)">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Detalji
      </button>
      <button mat-button color="accent" [routerLink]="['/order', movie.movieId]">
        <i class="fa-solid fa-ticket"></i> Rezerviši
      </button>

    </mat-card-actions>



    <div *ngIf="!movies && !error">
      <p>Podaci se ucitavaju</p>
    </div>