<div *ngIf="error">
    <h3>Oops, an error occured!</h3>
    <p style="color: red;">{{error}}</p>
</div>
<div *ngIf="movies" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let movies of movies">

        <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>{{movies.title}}</h3>
        </mat-card-content>
        <mat-card-actions>
            <button matButton>LIKE</button>
            <button matButton>SHARE</button>
        </mat-card-actions>
    </mat-card>
    

    <div *ngIf="!movies && !error">
        <p>Podaci se ucitavaju</p>
</div>